.wrapper{}
div {
  box-sizing: border-box;
}
.text-start{text-align:left;}
.text-center{text-align:center;}
.text-end{text-align:right;}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.blind {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5)
}

.vModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  background: #fff;
  border: 1px solid #ddd;
}
.modal-close{position:absolute;top:0;left:0;width:100%;padding:5px;}

.modal-header {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 5px;  
  font-size: 17px;  
}

.modal-header .modal-title {
  padding-top: 8px;
  font-size: 20px;
}

.modal-contents {
  padding-top: 100px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  color: #fff;
  padding: 7px;
}

.modal-btn-close {
  width: 45px;
  height: 45px;
  border: 0;
  background: #000;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}